In [86]:
import pandas as pd
import numpy as np
import regex as re
import pgeocode

In [228]:
df_crimes = pd.read_csv('../data/Major_Crime_Indicators.csv')

In [229]:
df_crimes.columns

Index(['X', 'Y', 'Index_', 'event_unique_id', 'Division', 'occurrencedate',
       'reporteddate', 'location_type', 'premises_type', 'ucr_code', 'ucr_ext',
       'offence', 'reportedyear', 'reportedmonth', 'reportedday',
       'reporteddayofyear', 'reporteddayofweek', 'reportedhour',
       'occurrenceyear', 'occurrencemonth', 'occurrenceday',
       'occurrencedayofyear', 'occurrencedayofweek', 'occurrencehour',
       'mci_category', 'Hood_ID', 'Neighbourhood', 'Longitude', 'Latitude',
       'ObjectId'],
      dtype='object')

In [230]:
df_crimes = df_crimes[df_crimes['reportedyear'] == 2022].loc[:,['reportedyear','mci_category','Neighbourhood','Longitude','Latitude']]

In [232]:
df_crimes.head()

        reportedyear mci_category    Neighbourhood  Longitude   Latitude
281229          2022      Assault       Cliffcrest -79.248474  43.711942
281230          2022   Auto Theft  South Riverdale -79.337664  43.661598
281232          2022      Assault           Weston -79.517752  43.700603
281233          2022   Auto Theft    Pleasant View -79.339195  43.788932
281238          2022   Auto Theft    Markland Wood -79.561255  43.634356

In [243]:
df_loc = df_crimes.pivot_table(
                      index = ['Neighbourhood'],
                      values = ['Latitude','Longitude'],
                      aggfunc = np.mean)

In [245]:
df_crime_count = df_crimes.pivot_table(
                      index = ['Neighbourhood'],
                      values = ['mci_category'],
                      aggfunc = 'count')

In [247]:
df_crimes_final = pd.merge(df_loc, df_crime_count, 
                           on = "Neighbourhood",
                           how = "inner")

In [250]:
df_crimes_final.shape

(141, 3)